<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.wallet.mapper.WalletDeductRateMapper" >

    <!--查询用户在通道的费率-->
    <select id="selectUserChannelRate" resultType="java.util.Map">
        select t3.id, t3.channel_id channelId, t5.name channelName, t5.channel_type channelType, t5.remarks, t3.settle_type settleType, t3.deduct_rate deductRate, t3.poundage, t4.limit_min limitMin, t4.limit_max limitMax, t4.day_max dayMax from
        (select * from wallet_deduct_rate where deduct_type = 'mer' and user_type = #{userType}) t3
        inner join
        (select t1.channel_id, t1.settle_type, t1.limit_min, t1.limit_max, t1.day_max, t2.sort_time
        from wallet_deduct_rate t1 left join wallet_channel t2 on t1.channel_id = t2.id
        where t1.deduct_type = 'channel' and t2.enable = '1'
        and t2.channel_type in
        <foreach collection="channelType" item="item" separator="," open="(" close=")">
          #{item}
        </foreach>
        ) t4
        on t4.channel_id = t3.channel_id and t4.settle_type = t3.settle_type
        left join wallet_channel t5 on t3.channel_id = t5.id
        order by t4.sort_time desc
    </select>

</mapper>